
<div class="card text-center">
  <div class="card-header">
    View Our Videos
  </div>
  <div class="card-body">
    <div video>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Y1BfCzcHBXA" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div vid>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/x2HNUn5dluU?start=18"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div vid>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/MT6LSbyukcA" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div vid>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/owhkl1Zd5OQ" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div vid>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/oEo6640IumU" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div vid>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Krd7TUmXRmo" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div vid>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/K75bAxXpxXo" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

    <div vid>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/J1W1Ln_rGZs" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
<h1 style="text-align:center; color:black; font-family:Bradley Hand, cursive; ">
  More Information
</h1>
<div class="row fg">
  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#lehao" class="btn " routerLink="/cart">
          <img
            class="img-thumbnail "
            src="https://www.understandingitaly.com/images/brands/perini-navi/perini-navi-main.jpg"
        /></a>

        <p class="card-text font1">YACHT ON SALE</p>

      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn " routerLink="/graphic"><img
            class="img-thumbnail "
            src="https://www.understandingitaly.com/images/brands/perini-navi/perini-navi-main.jpg"
        /></a>
        <p class="card-text font1">MORE INFORMATION</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn " routerLink="/"><img
            class="img-thumbnail "
            src="https://www.understandingitaly.com/images/brands/perini-navi/perini-navi-main.jpg"
            style="width: 40em; "
            alt=""
        /></a>
        <p class="card-text font1">HOME</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn " routerLink="/shipping"><img
            class="img-thumbnail "
            src="https://www.understandingitaly.com/images/brands/perini-navi/perini-navi-main.jpg"
            style="width: 40em; "
            alt=""
        /></a>
        <p class="card-text font1">IMAGES</p>
      </div>
    </div>
  </div>
</div>