<div class="card border-dark">
  <div class="card-header border-primary">
    <h1 class="card-text text-dark" style="padding-left:100px; text-align:center;">
      IMAGINATION
    </h1>
  </div>
  <div class="card-body  img-fluid" style="text-align:center; padding-left:100px; ">
    <app-portfolio-lightbox portfolioURL="/assets/graphic.json"></app-portfolio-lightbox>
  </div>
</div>
<hr />
<h1 style="text-align:center; color:black; font-family:Bradley Hand, cursive; ">
  More Information
</h1>
<div class="row fg">
  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#lehao" class="btn " routerLink="/cart">
          <img
            class="img-thumbnail "
            src="https://www.understandingitaly.com/images/brands/perini-navi/perini-navi-main.jpg"
        /></a>

        <p class="card-text font1">YACHT ON SALE</p>

      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn " routerLink="/graphic"><img
            class="img-thumbnail "
            src="https://www.understandingitaly.com/images/brands/perini-navi/perini-navi-main.jpg"
        /></a>
        <p class="card-text font1">MORE INFORMATION</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn " routerLink="/illustration"><img
            class="img-thumbnail "
            src="https://www.understandingitaly.com/images/brands/perini-navi/perini-navi-main.jpg"
            style="width: 40em; "
            alt=""
        /></a>
        <p class="card-text font1">VIDEOS</p>
      </div>
    </div>
  </div>

  <div class="col-sm-4 ml-5 ">
    <div class="card card1">
      <div class="card-body text-center">
        <a href="#jason" class="btn " routerLink="/"><img
            class="img-thumbnail "
            src="https://www.understandingitaly.com/images/brands/perini-navi/perini-navi-main.jpg"
            style="width: 40em; "
            alt=""
        /></a>
        <p class="card-text font1">HOME</p>
      </div>
    </div>
  </div>
</div>