<hr />

<h1 class="h2" style="background-color:black; color:white; font-family:crusive;">
  IMFORMATION ABOUT US
</h1>




<div class="card text-center">
  <div class="card-header" style="font-family: 'Caveat', cursive;">
    SOMETHING THAT WOULD BLOW YOUR MIND !!
  </div>
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text" style="font-family: 'Caveat', cursive;">In 2008, our original company was bankrupted during the
      corruptions. Forturnately, CUNY department saved us from that heart breaking situation. <br > The PERINI NAVI company had been opened since 50 years. We used to have a lot of good friends, especially, the QCC is always our best partner that is always supporting on us because our beach and port is near by the Queensborough Community College. So, Right now, we are merged. From now on, we are the associated partners
    </p>

    <a href="https://www.kbcc.cuny.edu/kccbeach/index.html" class="btn btn-primary">More Information about QCC </a>
  </div>
  <div class="card-footer text-muted">
    Please contact us to buy tickets or always welcome to QCC to visit the beach!
  </div>
</div>


















































<<h1 style="text-align:center; color:black; font-family:Bradley Hand, cursive; ">
  More Information
  </h1>
  <div class="row fg">
    <div class="col-sm-4 ml-5 ">
      <div class="card card1">
        <div class="card-body text-center">
          <a href="#lehao" class="btn " routerLink="/cart">
            <img
            class="img-thumbnail "
            src="https://www.understandingitaly.com/images/brands/perini-navi/perini-navi-main.jpg"
        /></a>

          <p class="card-text font1">YACHT ON SALE</p>

        </div>
      </div>
    </div>

    <div class="col-sm-4 ml-5 ">
      <div class="card card1">
        <div class="card-body text-center">
          <a href="#jason" class="btn " routerLink="/"><img
            class="img-thumbnail "
            src="https://www.understandingitaly.com/images/brands/perini-navi/perini-navi-main.jpg"
        /></a>
          <p class="card-text font1">HOME</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 ml-5 ">
      <div class="card card1">
        <div class="card-body text-center">
          <a href="#jason" class="btn " routerLink="/illustration"><img
            class="img-thumbnail "
            src="https://www.understandingitaly.com/images/brands/perini-navi/perini-navi-main.jpg"
            style="width: 40em; "
            alt=""
        /></a>
          <p class="card-text font1">VIDEOS</p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 ml-5 ">
      <div class="card card1">
        <div class="card-body text-center">
          <a href="#jason" class="btn " routerLink="/shipping"><img
            class="img-thumbnail "
            src="https://www.understandingitaly.com/images/brands/perini-navi/perini-navi-main.jpg"
            style="width: 40em; "
            alt=""
        /></a>
          <p class="card-text font1">IMAGES</p>
        </div>
      </div>
    </div>
  </div>