<a [routerLink]="['/']">
  <img
    src="https://www.understandingitaly.com/images/brands/perini-navi/perini-navi-main.jpg"
    style="width:610px;"
  />
</a>

<div class="secondborder">
  <div align="center" class="div">
    <button type="button" name="button" class="btn b4">
      <a class="addd btn btn-dark" routerLink="/">HOME</a>
    </button>
    <button type="button" name="button" class="btn b1">
      <a class="addd btn btn-dark " routerLink="/cart">YACHTS ON SALE</a>
    </button>
    <button type="button" name="button" class="btn b2 ">
      <a class="addd btn btn-dark" routerLink="/shipping">IMAGES</a>
    </button>
    <button type="button" name="button" class="btn b3">
      <a class="addd btn btn-dark" routerLink="/graphic">OUR STORY</a>
    </button>
    <button type="button" name="button" class="btn b4">
      <a class="addd btn btn-dark" routerLink="/illustration">VIDEOS</a>
    </button>
  </div>
</div>
